{% extends 'base.html' %}


{% block content %}

<h1><strong><center>FORBIDDEN! 403 Error</center></strong></h1>

<div class="container-fluid">
  <div class="row">
    <div class="col-sm-4"><img src="http://surferbrend.pythonanywhere.com/static/admin/img/error/stop-sign-hi.png" class="img-rounded" alt="Cinque Terre" width="304" height="236"></div>
    <div class="col-sm-4"><img src="http://surferbrend.pythonanywhere.com/static/admin/img/error/46e40f3e-d5d6-11e3-8d07-f4964bb46d58.png" class="img-rounded" alt="Cinque Terre" width="304" height="236"></div>
    <div class="col-sm-4"><img src="http://surferbrend.pythonanywhere.com/static/admin/img/error/do-not-enter-sign-hi.png" class="img-rounded" alt="Cinque Terre" width="304" height="236"></div>
 
 </div>
</div>


{% endblock %}
