<html>

{% include 'head_css.html' %}


<nav class="navbar navbar-default">
  <div class="container-fluid">
    <div class="navbar-header">
      <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#navbar" aria-expanded="false" aria-controls="navbar">
        <span class="sr-only">Toggle navigation</span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
      </button>
      <a class="navbar-brand" href="{% url 'auth_logout' %}">Logout</a>
    </div><!--/.nav-collapse -->
  </div><!--/.container-fluid -->
</nav>
<body>


<div class="well well-lg">
<h1><center><strong>404 ERROR</strong></center></h1>
<h2><center>Somewhere you got lost!</center></h2>
</div>

<style>
body {
    background-image: url("http://cdi-utaps.test.utah.edu/static/admin/img/error/404%20Error.jpg");
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-position: center;
}
</style>

</body>

</html>
