<!DOCTYPE html>
<html>
{% load staticfiles %}
<title>UTAPS Profile</title>
<meta name="viewport" content="width=device-width, initial-scale=1">
<link rel="stylesheet" href="http://surferbrend.pythonanywhere.com/static/admin/css/w3.css">
<link rel="stylesheet" href="http://surferbrend.pythonanywhere.com/static/admin/css/w3-theme-black.css">
<link rel='stylesheet' href='https://maxcdn.bootstrapcdn.com/font-awesome/4.5.0/css/font-awesome.min.css'>
<style>
img {
-webkit-filter: grayscale(80%); /* Chrome, Safari, Opera */
filter: grayscale(20%);
}


</style>
<body>

<!-- Side Navigation -->
<nav class="w3-sidenav w3-white w3-card-2 w3-animate-left" style="display:none">
  <h1 class="w3-xxxlarge w3-text-teal">UTAPS</h1>
  <a href="{% url 'auth_password_change' %}">Change Password</a>
  <a href="{% url 'auth_logout' %}">Logout</a>
<br></br>
  <a href="javascript:void(0)" onclick="w3_close()" class="w3-closenav w3-xxxlarge w3-text-theme">Back to Profile</i></a>

</nav>

<!-- Header -->
<header class="w3-container w3-theme w3-padding" id="myHeader">
  <i onclick="w3_open()" class="fa fa-bars w3-xlarge w3-opennav"></i>
  <div class="w3-center">
<h1 class="w3-xxxlarge w3-animate-bottom">UTAPS</h1>
{% if request.user.is_authenticated %}
    <div class="w3-padding-hor-32">
      <button class="w3-btn w3-xlarge w3-dark-grey w3-hover-light-grey" onclick="document.getElementById('id01').style.display='block'" style="font-weight:900;">Welcome {{user.first_name}} {{user.last_name}}</button>
    </div>
  </div>
</header>

{% if user.groups.all.0.name == 'QC' %}
<div class="w3-row-padding w3-center w3-margin-top">
<div class="w3-quarter">
  <div class="w3-card-2 w3-padding-top" style="min-height:460px">
  <h4>Milepoint</h4><br>
  <a class="btn " href='/search/' role="button"><i class="fa fa-pencil-square w3-margin-bottom w3-text-theme" style="font-size:110px"></i></a>

  <p>Edit & Geolocate</p>
  <p>Crash Records</p>
<br></br>

  </div>
</div>


<div class="w3-quarter">
  <div class="w3-card-2 w3-padding-top" style="min-height:460px">
  <h4>Unconfirmed Fatalities</h4><br>
  <a class="btn " href='/u/' role="button"><i class="fa fa-database w3-margin-bottom w3-text-theme" style="font-size:110px"></i></a>
  <a class="btn " href='' role="bu/tton"><p>Consult Database & </p></a>
  <p>Access Geoservices</p>

  </div>
</div>

<div class="w3-quarter">
  <div class="w3-card-2 w3-padding-top" style="min-height:460px">
  <h4>Reconcile Conflicts</h4><br>
  <a class="btn " href="/conflict/" role="button"><i class="fa fa-area-chart w3-margin-bottom w3-text-theme" style="font-size:120px"></i><p>Conflicts</p></a>
  <p>Reconcile Conflicts</p>

  </div>
</div>
</div>
{% endif %}


{% if user.groups.all.0.name == 'CMV' %}
<div class="w3-row-padding w3-center w3-margin-top">
<div class="w3-quarter">
  <div class="w3-card-2 w3-padding-top" style="min-height:460px">
  <h4>Commercial Motor Vehicle</h4><br>
  <a class="btn " href='/c/' role="button"><i class="fa fa-pencil-square w3-margin-bottom w3-text-theme" style="font-size:110px"></i></a>

  <p>Crash Records</p>
<br></br>

  </div>
</div>

<div class="w3-quarter">
  <div class="w3-card-2 w3-padding-top" style="min-height:460px">
  <h4>Reporting and Maps</h4><br>
  <a class="btn " href="https://gator.coe.utah.edu/shiny/app/dash/shiny/" role="button"><i class="fa fa-area-chart w3-margin-bottom w3-text-theme" style="font-size:120px"></i><p>Generate New Reports &</p></a>
  <p>Accesss Existing Reports</p>

  </div>
</div>
</div>
{% endif %}


{% if user.groups.all.0.name == 'SPV' %}
<div class="w3-row-padding w3-center w3-margin-top">
<div class="w3-quarter">
  <div class="w3-card-2 w3-padding-top" style="min-height:460px">
  <h4>Auditing</h4><br>
  <a class="btn " href='/audit/' role="button"><i class="fa fa-file-text w3-margin-bottom w3-text-theme" style="font-size:110px"></i></a>
  <p>Auditings</p>

  </div>
</div>

<div class="w3-quarter">
  <div class="w3-card-2 w3-padding-top" style="min-height:460px">
  <h4>Reconcile Conflicts</h4><br>
  <a class="btn " href="/conflict/" role="button"><i class="fa fa-area-chart w3-margin-bottom w3-text-theme" style="font-size:120px"></i><p>Conflicts</p></a>
  <p>Reconcile Conflicts</p>

  </div>
</div>
<div class="w3-quarter">
  <div class="w3-card-2 w3-padding-top" style="min-height:460px">
  <h4>Reporting and Maps</h4><br>
  <a class="btn " href="https://gator.coe.utah.edu/shiny/app/dash/shiny/" role="button"><i class="fa fa-area-chart w3-margin-bottom w3-text-theme" style="font-size:120px"></i><p>Generate New Reports &</p></a>
  <p>Accesss Existing Reports</p>

  </div>
</div>
</div>
{% endif %}

<!-- Script for Sidenav, Tabs, Accordions, Progress bars and slideshows -->
<script>
// Side navigation
function w3_open() {
    document.getElementsByClassName("w3-sidenav")[0].style.width = "100%";
    document.getElementsByClassName("w3-sidenav")[0].style.textAlign = "center";
    document.getElementsByClassName("w3-sidenav")[0].style.fontSize = "50px";
    document.getElementsByClassName("w3-sidenav")[0].style.paddingTop = "10%";
    document.getElementsByClassName("w3-sidenav")[0].style.display = "block";
}
function w3_close() {
    document.getElementsByClassName("w3-sidenav")[0].style.display = "none";
}

// Tabs
function openCity(evt, cityName) {
  var i;
  var x = document.getElementsByClassName("city");
  for (i = 0; i < x.length; i++) {
     x[i].style.display = "none";
  }
  var activebtn = document.getElementsByClassName("testbtn");
  for (i = 0; i < x.length; i++) {
      activebtn[i].className = activebtn[i].className.replace(" w3-dark-grey", "");
  }
  document.getElementById(cityName).style.display = "block";
  evt.currentTarget.className += " w3-dark-grey";
}

var mybtn = document.getElementsByClassName("testbtn")[0];
mybtn.click();

// Accordions
function myAccFunc(id) {
    var x = document.getElementById(id);
    if (x.className.indexOf("w3-show") == -1) {
        x.className += " w3-show";
        x.previousElementSibling.className += " w3-dark-grey";
    } else {
        x.className = x.className.replace(" w3-show", "");
        x.previousElementSibling.className =
        x.previousElementSibling.className.replace(" w3-dark-grey", "");
    }
}

// Slideshows
var slideIndex = 1;

function plusDivs(n) {
slideIndex = slideIndex + n;
showDivs(slideIndex);
}

function showDivs(n) {
  var x = document.getElementsByClassName("mySlides");
  if (n > x.length) {slideIndex = 1}
  if (n < 1) {slideIndex = x.length} ;
  for (i = 0; i < x.length; i++) {
     x[i].style.display = "none";
  }
  x[slideIndex-1].style.display = "block";
}

showDivs(1);

// Progress Bars
function move() {
  var elem = document.getElementById("myBar");
  var width = 1;
  var id = setInterval(frame, 10);
  function frame() {
    if (width == 100) {
      clearInterval(id);
    } else {
      width++;
      elem.style.width = width + '%';
      document.getElementById("demoprgr").innerHTML = width * 1  + '%';
    }
  }
}

var myWindow;

function openWin1() {
    myWindow = window.open("/pmap/", "_blank", "type=fullWindow,fullscreen,scrollbars=yes");
}


function openWin() {
    myWindow = window.open("http://surferbrend.pythonanywhere.com/api/queryall/", "_blank", "type=fullWindow,fullscreen,scrollbars=yes");
}



function openWin2() {
    myWindow = window.open("http://surferbrend.pythonanywhere.com/api/queryfield/", "_blank", "type=fullWindow,fullscreen,scrollbars=yes");
}



function closeWin() {
    myWindow.close();
}
</script>
<div class="w3-center">
  <div class='w3-row'>
<div class="w3-third"><a href="http://www.udot.utah.gov/main/f?p=100:6:0::::V,T:,1" target="_blank"><img src='http://surferbrend.pythonanywhere.com/static/admin/img/udot 2-2.png' class='img-resposive'/></a></div>
<div class="w3-third"><a href="http://utah.edu" target="_blank"><img src='http://surferbrend.pythonanywhere.com/static/admin/img/UofU-logo-2.png' class='img-resposive'/></a></div>
<div class="w3-third"><a href="http://publicsafety.utah.gov/" target="_blank"><img src= 'http://surferbrend.pythonanywhere.com/static/admin/img/header-dps-logo-2.png' class='img-resposive'/></a></div></div></div>
</body>
{% endif %}
</html>


